.loginContainer {
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    text-align: center;
}
.loginForm {
    display: flex;
    flex-direction: column;
}
.loginLabel {
    margin-bottom: 15px;
}
.loginLabel p {
    margin-bottom: 5px;
}
.loginInput {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 16px);
    margin-bottom: 10px;
    outline: none;
    background-color: #f8f8f8;
}
.loginSubmit {
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.loginSubmit:hover {
    background-color: #0056b3;
}
.loginSubmit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.errorMsg {
    color: red;
    font-size: 12px;
}
.forgotPassword {
    margin-bottom: 10px;
    text-align: right;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
}
.forgotPassword:hover {
    text-decoration: underline;
    color: #0056b3;
}