.history-cnt{
    
}
.entry-ctn {
}
.start-cnt {
    cursor: pointer;
}
.start-btn-cnt {
    cursor: pointer;
    background-color: #3cc8f8;
}
.end-cnt {
    cursor: pointer;
}
.end-btn-cnt {
    cursor: pointer;
    background-color: #ff9393;
}
.newActivity-cnt {
    cursor: pointer;
}
.border-cnt {
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 100%;
    block-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}