.days {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    padding-left: 0px;
}
.days_name {

    text-transform: uppercase;
    text-align: center;
    color: #7D8994;
}
.days li {
    width: 3.5rem;
    display: grid;
    place-items: center;
    position: relative;
    list-style: none;
}
.days_number {
    cursor: pointer;
}
.days_selected {
    font-weight: bold;
}
.calendar {
    display:flex;
    justify-content:center;
}

/*Buttons*/
.btn-calendar {
    color: #7D8994;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
    cursor: pointer;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    padding: 90% 0.6rem;
}

.cnt-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-toggleCalendar {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    color: #7D8994;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
}
.btn-calendarMin {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    color: #7D8994;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0.6rem;
    margin: 0.5rem;
    cursor: pointer;
}

