.weekButton {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}
.weekButton:hover {
    background-color: #2980b9;
}
.weekButton:active {
    background-color: #1f6693;
}
.weekControl{
    display: flex;
    justify-content: space-around;
}