.buttonsBlockContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border: solid;
    border-radius: 10px;
}
.iconContainer{
    display: flex;
    margin: 3px 10px;
}
.dateText{
    margin: 0;
}