@inject Data.LoginState loginState
<div>


    <select>
        @if (loginState.collections != null)
        {
            @foreach (var collection in loginState.collections)
            {
                <option value="@collection.id">@collection.name</option>
            }
        }
    </select>
</div>

@code {
    
}
