@using TimeTracker.Models;

<button @onclick="downWeek">down</button>
<button @onclick="upWeek">up</button>



<table class="table">
    <thead>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @for (int i = 0; i < 7; i++)
            {
                int currentDay = (InputDate.WeekNumber - 1) * 7 + i + 1 - firstDayOfMonth;

                if (currentDay < 1 || currentDay > daysInMonth)
                {
                    <td></td>
                }
                else
                {
                    <td><a @onclick="@(() => SelectDay(currentDay))">@currentDay</a></td>
                }
                
            }
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public CalendarInput InputDate { get; set; }

    [Parameter]
    public EventCallback<Boolean> SelectedDay { get; set; }

    private int daysInMonth;
    private int firstDayOfMonth;
    private int numberOfWeeks;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        loadWeek();
    }
    private void loadWeek()
    {

        daysInMonth = DateTime.DaysInMonth(InputDate.Year, InputDate.Month);
        firstDayOfMonth = ((int)new DateTime(InputDate.Year, InputDate.Month, 1).DayOfWeek + 6) % 7;
        numberOfWeeks = (int)Math.Ceiling((firstDayOfMonth + daysInMonth) / 7.0);
    }


    private void upWeek()
    {
        if (InputDate.WeekNumber == numberOfWeeks)
        {
            InputDate.Month++;
            InputDate.WeekNumber = 1;
            loadWeek();
        }
        else
        {
            InputDate.WeekNumber++;
        }
        
    }
    private void downWeek()
    {



        if (InputDate.WeekNumber == 1)
        {
            InputDate.Month--;

            InputDate.WeekNumber = numberOfWeeks;
            loadWeek();
        }
        else
        {
            InputDate.WeekNumber--;
        }
       

    }

    private void SelectDay(int day)
    {

        InputDate.Day = day;
        SelectedDay.InvokeAsync(true);
    }
}
