@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using TimeTracker.Data
@using TimeTracker.Service;
@using TimeTracker.Models;
@inject WeatherForecastService ForecastService
@inject MySqlService service

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (checkInTime.isOpen)
{
    if (checkInTime.time_table != null)
    {
        <a>@checkInTime.time_table.start_time</a>
        if (!checkInTime.time_table.isFinish)
        {
            <button class="btn btn-primary" @onclick="ClockOut">Finish</button>
        }else{
            <br />
            <a>@checkInTime.time_table.finish_time</a>
        }
    }
    else
    {
        <a>Algo no cuadra</a>
    }
    <button @onclick="ShowPopup">Show Popup</button>
    <div class="popup" @bind-style.display="PopupVisible ? 'block' : 'none'">
        <button @onclick="PopupVisible = false">Close</button>
        <p>Popup content goes here</p>
    </div>

}
else
{
    <button class="btn btn-primary" @onclick="ClockIn">Start</button>
    
}

@code {

    private bool PopupVisible { get; set; }

    private void ShowPopup()
    {
        PopupVisible = true;
    }


    private WeatherForecast[]? forecasts;

    private CheckInTime checkInTime = new CheckInTime();

    ClockInModel clock_in = new ClockInModel()
        {
            user_id = 1,
            start_time = DateTime.Now.TimeOfDay,
            date = DateTime.Today

        };

    ClockOutModel clockOut = new ClockOutModel()
    {
        user_id = 1,
        finish_time = DateTime.Now.TimeOfDay,
        date = DateTime.Today

    };

    private async Task ClockIn()
    {
        checkInTime = service.ClockIn(clock_in).Result;


    }
    private async Task ClockOut()
    {
        checkInTime = service.ClockOut(clockOut).Result;


    }
    private async Task addTime()
    {
        
    }

    protected override async Task OnInitializedAsync()
    {
        service.getUserHasColection(clockOut.user_id);
        checkInTime = service.GetClockIn(clock_in.user_id, DateTime.Today);

        var z = "";

    }




}
