@using TimeTracker.Service;
@using TimeTracker.Models;
@inject Data.LoginState loginState;
@inject MySqlService service;

@if (loginState.IsLoggedIn.Equals(false))
{
        <h1>Login</h1>


    <EditForm Model=@userInput OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="Email">Email</label>
            <ValidationMessage For="() => userInput.Email" />
            <InputText @bind-Value=userInput.Email class="form-control" id="Email" />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <ValidationMessage For="() => userInput.Password" />
            <InputText type="password" @bind-Value=userInput.Password class="form-control" id="Password" />
        </div>

        <input type="submit" class="btn btn-primary" value="Login" />
    </EditForm>

}
else
{

}

@code {
    UserModelInput userInput = new UserModelInput();
    string correctPassword = "admin";

    private void HandleValidSubmit()
    {
        if (userInput.Password.Equals(correctPassword))
        {

            loginState.SetLogin(true, userInput.Email);
            var userId = 1;
            loginState.collections = service.getUserHasColection(userId);
            loginState.projects = service.getUserHasProject(userId);

        }
    }


    void HandleLogout()
    {
        username = "";
        password = "";
        loginState.SetLogin(false, "");
    }
}