/*@media only screen and (min-width: 768px) {*/
/*    body {*/
/*        width: 50%;*/
/*    }*/
/*}*/
.blockContainer {
    display: flex;
    border: solid;
    border-radius: 10px;
    margin: 10px;
    min-height: 30px;
}
p{
    margin: 0;
}


.main{
    display: flex;
}
.appMain{
    width: 100%;
}

.nameMain{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .appMain{
        width: 60%;
    }
    .nameMain{
        display: flex;
        width: 40%;
    }
}


