.weekBlockContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border: solid;
    border-radius: 10px;
}
.weekContainer{
    display: flex;
}
.weekButton{
    margin: 5px
}
.dayContainer{
    margin: 0px 7px 0px 7px;
}
.selected{
    border-bottom: 1px solid;
}