.formContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    text-align: center;
}
.formInput {

    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    background-color: #f8f8f8;
}
.inputContainer{
    margin-bottom: 10px;
}
.minutesContainer {
    display: flex;
    align-items: center;
}
.datePickerCustom{
    width: 120px!important;
}
.toggleView{
    width: auto !important;
    margin-left: 10px;
}
.formNumber {
    box-sizing: border-box;
    margin-left: 10px;
}
.formRange{
    margin-left: 5px;
    margin-right: 5px;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.saveButton {
    width: 80%;
    background-color: #007bff;
}
.cancelButton {
    width: 20%;
    margin-right: 10px;
    background-color: #b2b2b2;
}
.saveButton:hover {
    background-color: #0056b3;
}
.cancelButton:hover {
    background-color: #616161;;
}
.errorMsg {
    float: right;
    color: red;
    font-size: 13px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.formNumber::-webkit-outer-spin-button,
.formNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.formNumber{
    -moz-appearance: textfield;
}

.formArea {
    height: 150px;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
}

.formButton {
    padding: 10px;

    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.sideBySideContainer {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .formContainer {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .formInput {
        font-size: 14px;
    }
}

